html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
    background: #0C171B;
    margin: 0;
}

h2 {
    font-weight: normal;
    margin: 10% 0;
    text-align: center;
}

.wrapper {
    padding: 20% 0;
}

@keyframes best_animation {
    0% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        opacity: 0;
        animation-timing-function: ease-in-out
    }
    100% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        opacity: 1;
    }
}

.change {
    animation-name: best_animation; animation-duration: 1.8s; animation-iteration-count: infinite; animation-direction: alternate; animation-fill-mode: both; animation-play-state: running;
}