<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>Login</title>
</head>
<body>
<section class="section-register">
    <div class="container">
        <a href="/" class="button"> << Назад</a>
        <h2 class="text-center">Вход в личный кабинет</h2>

        <form action="" method="POST" class="form form-register">
            <label>
                <input type="text" class="form__input" placeholder="Логин">
            </label>
            <label>
                <input type="password" class="form__input" placeholder="Пароль">
            </label>
            <input type="submit" class="button form__button" value="Войти" disabled>
        </form>
    </div>
</section>
</body>
</html>